PORT=5000
NODE_ENV=development
DB_HOST=hayabusa.proxy.rlwy.net
DB_PORT=37923
DB_USER=root
DB_PASS=KNDOGiJCCQYRBgHLpYTSnCUWKZUddvHO
DB_NAME=railway
JWT_SECRET=nexus_fms_jwt_secret_key_2026_super_secure
JWT_EXPIRES_IN=7d
